.container {
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
}

.left-container {
    float: left;
    overflow: scroll;
    height: 100vh;
    padding: 0;
}

.right-container {
    float: right;
}